# Exercise 1

define `n` with an integer value,
and print the following pattern based on `n`

for example:

n = 5

*
**
***
****
***** # 5
****
***
**
*

In [1]:
n = 5

for i in range(n + 1):
    print("*" * i)
for i in reversed(range(n)):
    print("*" * i)

*
**
***
****
*****
****
***
**
*

# Exercise 2

for example:

n = 5

01 02 03 04 05
06 07 08 09 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [3]:
n = 15

lst = []
row = []
for i in range(1, (n*n)+1):
    # print(i)
    row.append(i)
    if i % n == 0:
        lst.append(row)
        row = []

# print the list
for row in lst:
    for item in row:
        print(str(item).zfill(len(str(n*n))), end=' ')
    print()

001 002 003 004 005 006 007 008 009 010 011 012 013 014 015
016 017 018 019 020 021 022 023 024 025 026 027 028 029 030
031 032 033 034 035 036 037 038 039 040 041 042 043 044 045
046 047 048 049 050 051 052 053 054 055 056 057 058 059 060
061 062 063 064 065 066 067 068 069 070 071 072 073 074 075
076 077 078 079 080 081 082 083 084 085 086 087 088 089 090
091 092 093 094 095 096 097 098 099 100 101 102 103 104 105
106 107 108 109 110 111 112 113 114 115 116 117 118 119 120
121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
136 137 138 139 140 141 142 143 144 145 146 147 148 149 150
151 152 153 154 155 156 157 158 159 160 161 162 163 164 165
166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
181 182 183 184 185 186 187 188 189 190 191 192 193 194 195
196 197 198 199 200 201 202 203 204 205 206 207 208 209 210
211 212 213 214 215 216 217 218 219 220 221 222 223 224 225

# Exercise 3

for example:

n = 5

01 02 03 04 05
16 17 18 19 06
15 24 25 20 07
14 23 22 21 08
13 12 11 10 09

In [4]:
# initializing the list
n = 5

lst = []
for i in range(n):
    lst.append([])
    for j in range(n):
        lst[i].append(0)
lst

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [5]:
# filling the list
counter = 0
i = 0
r = 0 # rounds
while counter < (n * n):
    for j in range(0 + r, n - r):
        counter += 1
        lst[i][j] = counter
    for i in range(1 + r, n - r):
        counter += 1
        lst[i][j] = counter
    for j in reversed(range(0 + r, n - 1 - r)):
        counter += 1
        lst[i][j] = counter
    for i in reversed(range(1 + r, n - 1 - r)):
        counter += 1
        lst[i][j] = counter
    r += 1

lst

[[1, 2, 3, 4, 5],
 [16, 17, 18, 19, 6],
 [15, 24, 25, 20, 7],
 [14, 23, 22, 21, 8],
 [13, 12, 11, 10, 9]]

In [6]:
for row in lst:
    for item in row:
        print(str(item).zfill(len(str(n*n))), end=' ')
    print()

01 02 03 04 05
16 17 18 19 06
15 24 25 20 07
14 23 22 21 08
13 12 11 10 09

# Exercise 4

For a given value of n, print the following pattern:

n = 9:

....*....  # i = 1, s=4
...***...  # i = 3, s=3
..*****..  # i = 5, s=2
.*******.  # i = 7, s=1
*********  # n = 9, s=0

In [1]:
n = 15
i = 1
while i <= n:
    spaces = " " * int((n - i) / 2)
    stars = '*' * i
    print(spaces + stars)
    i += 2

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************